/** home boxes **/

#boxes {
	position: relative;
	top: 20px;
	left: 5px;
	width: 940px;
	height: auto;
}

#green_box {
	float: left;
	position: relative;	
	width: 235px;
	height: auto;

}

.pointable { cursor: pointer; }

#green_box_title {
	position: relative;
	top: 0px;
	left:0px;
	width: 220px;
	height: 63px;
	background-image:url('../images/green_box_no_title_wide.png');
	background-repeat: no-repeat;
	z-index: 5;	
	text-align: center;
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	text-shadow: white 0.1em 0.1em 0.2em			
}

#green_box_body {
	position: relative;
	top: -25px;
	left: 0px;
	width: 200px;
	height: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #404040;
	font-weight: normal;
	padding-bottom: 5px;
	background-color: #A5D474;	
	padding: 0px 10px 10px 10px;
	border: 0px solid #000000;
	border-radius: 0px 0px 20px 20px;	
	z-index: 10;
	display: none;		
}
 
#green_box_body ul {
	padding-left: 10px;
	list-style-type:none;	
}

#green_box_body li {
	padding-bottom: 5px;
}

#green_box_body a {
	color: #5275AE;
	font-size: 12px;
	text-decoration: none;
}

#green_box_body a:hover {
	color: #ffffff;
	text-decoration: underline;
} 

#orange_box {
	float: left;
	position: relative;
	width: 235px;
	height: auto;
	
}

#orange_box_title {
	position: relative;
	top: 0px;
	left:0px;
	width: 220px;
	height: 62px;
	background-image:url('../images/orange_box_no_title_wide.png');
	background-repeat: no-repeat;
	z-index: 5;	
	text-align: center;
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	text-shadow: white 0.1em 0.1em 0.2em				
}

#orange_box_body {
	position: relative;
	top: -25px;
	left: 0px;
	width: 200px;
	height: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #404040;
	font-weight: normal;
	padding-bottom: 5px;
	background-color: #F1C083;	
	padding: 0px 10px 10px 10px;
	border: 0px solid #000000;
	border-radius: 0px 0px 20px 20px;	
	z-index: 10;	
	display: none;			
}

#orange_box_body ul {
	padding-left: 10px;
	list-style-type:none;	
}

#orange_box_body ul {
	padding-left: 10px;
	list-style-type:none;	
}

#orange_box_body li {
	padding-bottom: 5px;
}

#orange_box_body a {
	color: #5275AE;
	font-size: 12px;
	text-decoration: none;
}

#orange_box_body a:hover {
	color: #ffffff;
	text-decoration: underline;
} 

#blue_box {
	float: left;
	position: relative;	
	width: 235px;
	height: auto;

}

#blue_box_title {
	position: relative;
	top: 0px;
	left:0px;
	width: 220px;
	height: 62px;
	background-image:url('../images/blue_box_no_title_wide.png');
	background-repeat: no-repeat;
	z-index: 5;	
	text-align: center;
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	text-shadow: white 0.1em 0.1em 0.2em				
}

#blue_box_body {
	position: relative;
	top: -25px;
	left: 0px;
	width: 200px;
	height: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #404040;
	font-weight: normal;
	padding-bottom: 5px;
	background-color: #ADCCD6;	
	padding: 0px 10px 10px 10px;
	border: 0px solid #000000;
	border-radius: 0px 0px 20px 20px;	
	z-index: 10;
	display: none;				
}


.event_date {
	font-size: 12px;
	color: #000000;
}

.event_desc {
	color: #5275AE;
	font-size: 11px;	
	text-decoration: none;
}

a:hover .event_desc {
	text-decoration: underline;
} 

#blue_box_body ul {
	padding-left: 10px;
	list-style-type:none;	
}

#blue_box_body li {
	padding-bottom: 5px;
}

#blue_box_body a {
	color: #5275AE;
	font-size: 12px;
	text-decoration: none;
}

#blue_box_body a:hover {
	color: #ffffff;
	text-decoration: underline;
}


#yellow_box {
	float: left;
	position: relative;	
	width: 235px;
	height: auto;

}

#yellow_box_title {
	position: relative;
	top: 0px;
	left:0px;
	width: 220px;
	height: 62px;
	background-image:url('../images/yellow_box_no_title_wide.png');
	background-repeat: no-repeat;
	z-index: 5;	
	text-align: center;
	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #000000;
	font-weight: bold;
	text-shadow: white 0.1em 0.1em 0.2em				
}

#yellow_box_body {
	position: relative;
	top: -25px;
	left: 0px;
	width: 200px;
	height: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #404040;
	font-weight: normal;
	padding-bottom: 5px;
	background-color: #E8E872;	
	padding: 0px 10px 10px 10px;
	border: 0px solid #000000;
	border-radius: 0px 0px 20px 20px;	
	z-index: 10;	
	display: none;			
}

#yellow_box_body ul {
	padding-left: 10px;
	list-style-type:none;	
}

#yellow_box_body li {
	padding-bottom: 5px;
}

#yellow_box_body a {
	color: #5275AE;
	font-size: 12px;
	text-decoration: none;
}

#yellow_box_body a:hover {
	color: #ffffff;
	text-decoration: underline;
} 



