/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * benton-sans:
 *   - http://typekit.com/eulas/00000000000000003b9b2cee
 *   - http://typekit.com/eulas/00000000000000003b9b2cef
 *   - http://typekit.com/eulas/00000000000000003b9b2cf1
 *   - http://typekit.com/eulas/00000000000000003b9b2cf4
 *   - http://typekit.com/eulas/00000000000000003b9b2cf5
 *   - http://typekit.com/eulas/00000000000000003b9b2cf8
 *   - http://typekit.com/eulas/00000000000000003b9b2cf9
 *   - http://typekit.com/eulas/00000000000000003b9b2cfc
 * effra:
 *   - http://typekit.com/eulas/00000000000000000001787d
 * essonnes-display:
 *   - http://typekit.com/eulas/00000000000000003b9ada63
 *   - http://typekit.com/eulas/00000000000000003b9ada64
 *   - http://typekit.com/eulas/00000000000000003b9ada66
 *   - http://typekit.com/eulas/00000000000000003b9ada67
 * essonnes-headline:
 *   - http://typekit.com/eulas/00000000000000003b9ada69
 *   - http://typekit.com/eulas/00000000000000003b9ada6a
 *   - http://typekit.com/eulas/00000000000000003b9ada6c
 *   - http://typekit.com/eulas/00000000000000003b9ada6d
 * essonnes-text:
 *   - http://typekit.com/eulas/00000000000000003b9ada6e
 *   - http://typekit.com/eulas/00000000000000003b9ada6f
 *   - http://typekit.com/eulas/00000000000000003b9ada70
 *   - http://typekit.com/eulas/00000000000000003b9ada71
 * minion-pro:
 *   - http://typekit.com/eulas/0000000000000000000151d6
 * minion-pro-display:
 *   - http://typekit.com/eulas/000000000000000000015210
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-08-13 10:39:07 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=wki7mml&ht=tk&f=9791.18235.6817.30804.30806.30808.30810.30813.30814.30816.30818.28131.28132.28134.28135.28137.28138.28140.28141.28142.28143.28144.28145&a=3086785&app=typekit&e=css");

@font-face {
font-family:"effra";
src:url("https://use.typekit.net/af/5ea570/00000000000000000001787d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/5ea570/00000000000000000001787d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/5ea570/00000000000000000001787d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"minion-pro-display";
src:url("https://use.typekit.net/af/d26b6e/000000000000000000015210/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d26b6e/000000000000000000015210/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d26b6e/000000000000000000015210/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"minion-pro";
src:url("https://use.typekit.net/af/1286c7/0000000000000000000151d6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1286c7/0000000000000000000151d6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1286c7/0000000000000000000151d6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/e3fa14/00000000000000003b9b2cee/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/e3fa14/00000000000000003b9b2cee/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/e3fa14/00000000000000003b9b2cee/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/ca7117/00000000000000003b9b2cef/27/l?subset_id=2&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/ca7117/00000000000000003b9b2cef/27/d?subset_id=2&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/ca7117/00000000000000003b9b2cef/27/a?subset_id=2&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/21f23e/00000000000000003b9b2cf1/27/l?subset_id=2&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/21f23e/00000000000000003b9b2cf1/27/d?subset_id=2&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/21f23e/00000000000000003b9b2cf1/27/a?subset_id=2&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f7a7fa/00000000000000003b9b2cf4/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/738ece/00000000000000003b9b2cf5/27/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/738ece/00000000000000003b9b2cf5/27/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/738ece/00000000000000003b9b2cf5/27/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/bb6c4e/00000000000000003b9b2cf8/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/bb6c4e/00000000000000003b9b2cf8/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/bb6c4e/00000000000000003b9b2cf8/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/343e47/00000000000000003b9b2cf9/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/343e47/00000000000000003b9b2cf9/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/343e47/00000000000000003b9b2cf9/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"benton-sans";
src:url("https://use.typekit.net/af/49ef66/00000000000000003b9b2cfc/27/l?subset_id=2&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/49ef66/00000000000000003b9b2cfc/27/d?subset_id=2&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/49ef66/00000000000000003b9b2cfc/27/a?subset_id=2&fvd=n8&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:800;
}

@font-face {
font-family:"essonnes-display";
src:url("https://use.typekit.net/af/b73f74/00000000000000003b9ada63/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/b73f74/00000000000000003b9ada63/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/b73f74/00000000000000003b9ada63/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"essonnes-display";
src:url("https://use.typekit.net/af/6a5fe5/00000000000000003b9ada64/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/6a5fe5/00000000000000003b9ada64/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/6a5fe5/00000000000000003b9ada64/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"essonnes-display";
src:url("https://use.typekit.net/af/379c63/00000000000000003b9ada66/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/379c63/00000000000000003b9ada66/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/379c63/00000000000000003b9ada66/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"essonnes-display";
src:url("https://use.typekit.net/af/d134d3/00000000000000003b9ada67/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/d134d3/00000000000000003b9ada67/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/d134d3/00000000000000003b9ada67/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"essonnes-headline";
src:url("https://use.typekit.net/af/c5b351/00000000000000003b9ada69/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c5b351/00000000000000003b9ada69/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c5b351/00000000000000003b9ada69/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"essonnes-headline";
src:url("https://use.typekit.net/af/71815a/00000000000000003b9ada6a/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/71815a/00000000000000003b9ada6a/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/71815a/00000000000000003b9ada6a/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"essonnes-headline";
src:url("https://use.typekit.net/af/a3366c/00000000000000003b9ada6c/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/a3366c/00000000000000003b9ada6c/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/a3366c/00000000000000003b9ada6c/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"essonnes-headline";
src:url("https://use.typekit.net/af/34a029/00000000000000003b9ada6d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/34a029/00000000000000003b9ada6d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/34a029/00000000000000003b9ada6d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"essonnes-text";
src:url("https://use.typekit.net/af/63ba7d/00000000000000003b9ada6e/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/63ba7d/00000000000000003b9ada6e/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/63ba7d/00000000000000003b9ada6e/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"essonnes-text";
src:url("https://use.typekit.net/af/62db76/00000000000000003b9ada6f/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/62db76/00000000000000003b9ada6f/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/62db76/00000000000000003b9ada6f/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"essonnes-text";
src:url("https://use.typekit.net/af/f7de41/00000000000000003b9ada70/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/f7de41/00000000000000003b9ada70/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/f7de41/00000000000000003b9ada70/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"essonnes-text";
src:url("https://use.typekit.net/af/96be76/00000000000000003b9ada71/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/96be76/00000000000000003b9ada71/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/96be76/00000000000000003b9ada71/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-effra { font-family: "effra",sans-serif; }
.tk-minion-pro-display { font-family: "minion-pro-display",serif; }
.tk-minion-pro { font-family: "minion-pro",serif; }
.tk-benton-sans { font-family: "benton-sans",sans-serif; }
.tk-essonnes-display { font-family: "essonnes-display",serif; }
.tk-essonnes-headline { font-family: "essonnes-headline",serif; }
.tk-essonnes-text { font-family: "essonnes-text",serif; }
