.footernav {background-color:#404d6b; white-space:nowrap; padding-bottom:3px; padding-top:1px; color:#ffffff; font-family:Verdana; font-size:small; text-align:center;}
.footernav1 {background-color:#404d6b; white-space:nowrap; padding-bottom:10px; padding-top:10px; heigth:41px; color:#ffffff; font-family:Verdana; font-size:70%; text-align:center;}
.footernav a {color:#ffffff;}
.footernav1 a {color:#ffffff;}
.footernav a:hover {color:#01bced; background-color:transparent;}
.footernav1 a:hover {color:#01bced; background-color:transparent;}
.footernavdiv {background-color:#404d6b; padding-left:13px; padding-right:13px; color:#ffffff; font-family:Verdana; font-size:small; text-align:center;}
.footernavdiv1 {background-color:#404d6b; padding-left:10px; padding-right:12px; heigth:41px; color:#ffffff; font-family:Verdana; font-size:70%; text-align:center;}

.ftr_greytext {color:#888888; font-family:Verdana; font-size:x-small;}
.ftr_greytext a  {color:#3e75ce; text-decoration:underline;}

.navbarblue { background-color:#294495; text-align:center;}
.navbarblue A { color:#ffffff;font-family:Verdana;font-size:60%;font-weight:bold; text-decoration:none;}
.navbarlightblue { background-color:#8799cb; text-align:center;padding-left:5px;padding-right:5px;}
.navbarlightblue A { color:#ffffff;font-family:Verdana;font-size:x-small;font-weight:bold; text-decoration:none;}
.navbarlightblue A:hover { color:#6677aa;font-family:Verdana;font-weight:bold; text-decoration:none;}

img.gwt-Image
    {
    cursor: pointer;
}


/*

<!--
body {margin:35px;}
a {color:#3c75cf; text-decoration:none;}
a:hover { background-color:#c2f96b;}
th {text-align:left;}

.two_liner li {margin-left:20px;text-indent:-20px;list-style-type:none;}
.two_liner {margin:0px;}
.block_indent {padding-left:15px;}
.lineoff {text-decoration:none;}
.lineoff a {text-decoration:none; color:#FF0000;}

.rightcol {padding:7px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:x-small;}
.rightimage {padding-bottom:4px;}
.rightcol p {padding-bottom:4px;}

.rightcol2 {padding:7px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:x-small;}
.rightcol2 a {text-decoration:underline;}
.rightcol2 p {padding-bottom:4px;}

li.greenb {list-style-image: url(../images/listbullet3.gif); margin-left:-2em;}
ul.listspecial {margin-top:0em; line-height:1.5em;}

.text {font-family:Verdana; font-size:70%;}
.text a {text-decoration:underline;}
.small_text {font-family:Verdana; font-size:x-small;}
.pageheadline {margin:0px; font-family:Verdana; font-size:large; font-weight:bold;}
.pageheadsubline {margin:0px; font-weight:bold;}

.leftwhite {color:#ffffff; background-color:#000000; font-family:Verdana;font-size:small;padding:5px;font-weight:bold;}
.leftwhite a {color:#ffffff;}
.leftwhite a:hover {background-color:#000000;}

.hyperimage a:hover {background-color:#ffffff;}

.lefttext {background-color:#eef2f7; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-left:7px; padding-right:7px; padding-top:5px; padding-bottom:5px;}
.lefttextdiv img {margin-left:7px;}
.lefttextbox {background-color:#eef2f7; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-left:7px; padding-right:7px; padding-top:5px; padding-bottom:5px; border-style:solid; border-width:1px; border-color:#3c75cf;}

.lefttexthover {background-color:#eef2f7; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding:7px;}
.lefttexthover a { color:#3e75ce;}
.lefttexthover a:hover { background-color:#c2f96b;}

.subnav {padding-bottom:4px;}
.subnavhover {background-color:#eef2f7; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-bottom:4px;}
.subnavhover a { color:#3e75ce;}
.subnavhover a:hover { background-color:#C2F96B;}

.lefttextdrill {font-family:Verdana; font-size:x-small; padding-top:4px; padding-bottom:2px; text-decoration:none;}
.lefttextsub {background-color:#ffffff; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding:7px;}
.lefttextsupersub {background-color:#ffffff; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-top:4px;  padding-bottom:4px;}
.lefttextsupersuborder {background-color:#ffffff; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-top:4px;  padding-bottom:4px; border-style:solid; border-width:1px; border-color:#3c75cf; border-left-color:#ffffff; border-left-style:hidden;}
.lefttextsupersubullet {background-color:#ffffff; color:#000000; font-family:Verdana; text-decoration:none; padding-top:4px;  padding-bottom:4px; border-style:solid; border-width:1px; border-color:#3c75cf; border-right-color:#ffffff; border-right-style:hidden;}
.lefttextsupersuborder2 {color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-top:4px;  padding-bottom:4px; border-style:solid; border-width:1px; border-color:#3c75cf; border-left-color:#3c75cf; border-left-style:hidden;}
.lefttextsupersubullet2 {color:#000000; font-family:Verdana; text-decoration:none; padding-top:4px;  padding-bottom:4px; border-style:solid; border-width:1px; border-color:#3c75cf; border-right-color:#eef2f7; border-right-style:hidden; border-right-width:0px;}

.lefttitle {background-color:#888888; padding:5px; color:#ffffff; font-family:Verdana; font-weight:bold; font-size:x-small;}
.lefttitlelink {background-color:#8799cb; padding:5px; color:#000000; font-family:Verdana; font-weight:bold; font-size:x-small;}
.lefttitlelink a {color:#ffffff;}
.lefttitlelink a:hover {color:#6677aa;}

.leftsearch {background-color:#d5dced; padding:7px; font-family:Verdana; font-size:x-small;}

.lefttextlist {background-color:#eef2f7; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-left:7px;  padding-right:7px;}

.lefttextsub {background-color:#ffffff; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding:7px;}
.lefttextsupersub {background-color:#ffffff; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-top:4px;  padding-bottom:4px;}

.tabletextblue {font-family:Verdana; font-size:x-small; background-color:#8799cb; font-weight:bold; padding:4px; color:#b5fb43}
.tabletextblue a {color:#ffffff; font-weight:bold;}
.tabletextblue a:hover {color:#6677aa;}

.tabletop {text-align:left; font-family:Verdana; font-size:x-small; font-weight:bold; background-color:#9f9f9f; color:#ffffff;  padding-top:4px; padding-bottom:7px; padding-left:10px; padding-right:4px; border-right:1px white solid;}
.tabletopbottom {text-align:left; font-family:Verdana; font-size:x-small; font-weight:bold; background-color:#9f9f9f; color:#ffffff;  padding-top:4px; padding-bottom:7px; padding-left:10px; padding-right:4px; border-right:1px white solid; border-bottom:1px white solid;}
.tabletoplink {text-align:left; font-family:Verdana; font-size:x-small; font-weight:bold; background-color:#8799cb; color:#ffffff;  padding-top:4px; padding-bottom:7px; padding-left:10px; padding-right:4px; border-right:1px white solid;}
.tabletoplink A {color:#ffffff;}
.tabletoplink A:hover { color:#8799cb;}
.tabletop2 {font-family:Verdana; font-size:x-small; font-weight:bold; background-color:#b5b5b5; color:#ffffff; padding:5px; border-right:1px white solid;}

.tabletext {font-family:Verdana; font-size:x-small; background-color:#f3f3f3; font-weight:normal; padding:4px;}
.tabletext2 {font-family:Verdana; font-size:x-small; background-color:#f3f3f3; color:#000000; padding:10px;}
.tabletext2 a {font-weight:bold;}

.bodygreybox {background-color:#f2f2f2; padding:7px;}

.bodygreenbox {background-color:#e7f8d6; padding:7px;}
.bodygreenboxhead {background-color:#A2BA58; color:#FFFFFF; font-weight:bold; padding:3px;}

.greybartitle {background-color:#9f9f9f; font-family:Verdana; font-size:x-small; display:block;color:#ffffff; font-weight:bold; padding-left:5px;padding-bottom:5px;padding-top:5px;}
.bluebartitle {background-color:#8799cb;  font-family:Verdana; font-size:x-small; display:block; color:#ffffff; font-weight:bold; padding:5px;text-align:center;}
.bluebartitle a {color:#ffffff;}
.bluebartitle a:hover {background-color:#b5fb43; color:#6677aa; font-weight:bold;}

.rightbluebox {background-color:#eef2f7; color:#000000; font-family:Verdana; font-size:x-small; text-decoration:none; padding-left:5px; padding-right:1px; padding-top:3px; padding-bottom:4px;}

.greybold {color:#86868a;}
.greybold a {text-decoration:none;}

.nest55xxsmall {font-family:Verdana; font-size:x-small;}
.nest5570 {font-family:Verdana; font-size:100%;}
.nest5570p1 {font-family:Verdana; font-size:100%; padding-bottom:5px;}
.nest5570p2 {font-family:Verdana; font-size:100%; padding-bottom:12px;}

.headmark {background-image: url(../images/shadowmark.jpg); background-repeat:no-repeat;}

.alerts {color:#f43852; font-weight:bold;}

new for new
.cellpadindent {font-family:Verdana; font-size:x-small;padding:7px;}
.pushdown4 {padding-top:4px;}


new for homepage
.hm_left {font-family:Verdana; font-size:x-small;padding:3px;text-decoration:none;}
.hm_left_bk {font-family:Verdana; font-size:x-small;padding:3px;text-decoration:none;}
.hm_login {font-family:Verdana; font-size:x-small;padding:3px;text-decoration:none;}
.cal_right {font-family:Verdana; font-size:x-small; padding-left:3px; padding-bottom:8px;text-decoration:none;}
.hm_cntr {font-family:Verdana; font-size:x-small;padding:7px;}
.hm_cal_hd {padding-left:1px; padding-right:1px; padding-bottom:3px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#868788; text-align:center; font-weight:bold; font-size:10px;}
.hm_days {padding-left:1px; padding-right:1px; padding-top:3px; padding-bottom:3px; text-align:center; background-color:#868788; color:#ffffff; font-weight:bold; font-size:9px;}
.cal_off {padding-left:1px; padding-right:1px; padding-top:3px; padding-bottom:3px; background-color:#B6E294; text-align:center; font-weight:bold; color:#868788; font-size:9px;}
.cal_none { background-color:#C1C0C1; font-size:9px;}
.dkgreybartitle {background-color:#888888;  font-family:Verdana; font-size:x-small; display:block;color:#ffffff; font-weight:bold; padding:5px;}
.hm_pub_mission {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:small; background-image:url(../images/missionbg.gif); padding:15px;}
.photobuff {padding-right:7px; padding-bottom:7px;}
.phototext {padding-bottom:10px;}
.greenbartitle {
background-color:#A2BA58; font-family:Verdana; font-size:x-small; display:block;color:#ffffff; font-weight:bold; padding-left:5px;padding-bottom:5px;padding-top:5px;
}
-->
*/


/* Main Nav */
/*
ul#main-nav { height: 33px; padding: 0; margin: 0; float: left; width: 740px; list-style: none; }
ul#main-nav li { float: left; font-size: 110%; text-align: left; margin: 0; padding: 0; background: #31478b url(../images/common/bg-mnav.gif) no-repeat; }
ul#main-nav li a { color: #FFF; margin: 0; padding: 0; text-decoration: none; display: block; line-height: 33px; font-weight: normal; text-align: center; }
ul#main-nav li.current a { background: url(../images/common/bg-mnav.gif) no-repeat; }
ul#main-nav li span { visibility: hidden; background: #31478b; }
ul#main-nav li a:hover { background-color: transparent !important;}

ul#main-nav li#nav01 { background-position: left top; width: 67px; }
ul#main-nav li#nav02 { background-position: -68px top; width: 81px; }
ul#main-nav li#nav03 { background-position: -149px top; width: 76px; }
ul#main-nav li#nav04 { background-position: -225px top; width: 102px; }
ul#main-nav li#nav05 { background-position: -327px top; width: 66px; }
ul#main-nav li#nav06 { background-position: -393px top; width: 105px; }
ul#main-nav li#nav07 { background-position: -498px top; width: 89px; }
ul#main-nav li#nav08 { background-position: -587px top; width: 68px; }
ul#main-nav li#nav09 { background-position: -655px top; width: 86px; }

ul#main-nav li#nav01:hover, ul#main-nav li#nav01.sfhover { background-position: left -33px; }
ul#main-nav li#nav02:hover, ul#main-nav li#nav02.sfhover { background-position: -68px -33px; }
ul#main-nav li#nav03:hover, ul#main-nav li#nav03.sfhover { background-position: -149px -33px; }
ul#main-nav li#nav04:hover, ul#main-nav li#nav04.sfhover { background-position: -225px -33px; }
ul#main-nav li#nav05:hover, ul#main-nav li#nav05.sfhover { background-position: -327px -33px; }
ul#main-nav li#nav06:hover, ul#main-nav li#nav06.sfhover { background-position: -393px -33px; }
ul#main-nav li#nav07:hover, ul#main-nav li#nav07.sfhover { background-position: -498px -33px; }
ul#main-nav li#nav08:hover, ul#main-nav li#nav08.sfhover { background-position: -587px -33px; }
ul#main-nav li#nav09:hover, ul#main-nav li#nav09.sfhover { background-position: -655px -33px; }

ul#main-nav li#nav01.current a { background-position: left -66px; }
ul#main-nav li#nav02.current a { background-position: -68px -66px; }
ul#main-nav li#nav03.current a { background-position: -149px -66px; }
ul#main-nav li#nav04.current a { background-position: -225px -66px; }
ul#main-nav li#nav05.current a { background-position: -327px -66px; }
ul#main-nav li#nav06.current a { background-position: -393px -66px; }
ul#main-nav li#nav07.current a { background-position: -498px -66px; }
ul#main-nav li#nav08.current a { background-position: -587px -66px; }
ul#main-nav li#nav09.current a { background-position: -655px -66px; }

ul#main-nav li#nav01.current:hover a { background-position: left -99px; }
ul#main-nav li#nav02.current:hover a { background-position: -68px -99px; }
ul#main-nav li#nav03.current:hover a { background-position: -149px -99px; }
ul#main-nav li#nav04.current:hover a { background-position: -225px -99px; }
ul#main-nav li#nav05.current:hover a { background-position: -327px -99px; }
ul#main-nav li#nav06.current:hover a { background-position: -393px -99px; }
ul#main-nav li#nav07.current:hover a { background-position: -498px -99px; }
ul#main-nav li#nav08.current:hover a { background-position: -587px -99px; }
ul#main-nav li#nav09.current:hover a { background-position: -655px -99px; }

ul#main-nav li ul { position: absolute; margin: 0; width: 278px; left: -999em; background: #000; padding: 6px 0px 8px; z-index: 999;     font-size: 18px;}
ul#main-nav li ul li { color: #FFF; font-size: 90%; text-align: left; vertical-align: middle; background: none; padding: 0 16px 0 16px;  list-style: none;}
ul#main-nav li ul li a { margin: 0; text-align: left; text-decoration: none; background: none !important; font: Bold 70% Verdana, Geneva, sans-serif !important; display: block; padding: 5px 0px; width: 246px; }
ul#main-nav li ul li a:hover { text-decoration: underline; background: none; color: #FFF;}
ul#main-nav li ul li a.first { border: none !important; }
ul#main-nav li:hover ul, ul#main-nav li.sfhover ul { background: #26498b; left: auto; z-index: 999; }
ul#main-nav li.sfhover ul li { background: none; }
ul#main-nav li.sfhover ul a { background: none; }
*/
/* custom */
/*
ul#main-nav li#nav08 ul { width: 254px; }
ul#main-nav li#nav08 ul a { width: 222px; }
ul#main-nav li#nav01:hover ul, ul#main-nav li#nav01.sfhover ul { left: -999em !important; }
ul#main-nav li#nav09:hover ul, ul#main-nav li#nav09.sfhover ul { left: -999em !important; }
*/
/* Sub Nav */
/*
#subnav { height: 31px; overflow: hidden; padding: 0; margin: 0; width: 740px; float: left; }
#subnav ul { list-style: none outside none; margin: 0; padding: 0; }
#subnav ul li { float: left; margin: 0; padding: 0; }
#subnav ul li a { display: block; height: 31px; }
#subnav ul li a:hover { background-position: 0 -31px; }
#subnav ul li a span { left: -999em; position: absolute; }
*/

.headmark { background: #000 !important; }
.headmark table { background: #fff !important; }
.hyperimage { background: #fff !important; }

tr.searchArea { width: 233px; }
tr.searchArea select { padding: 2px; width: 180px; }
tr.searchArea input#QueryText { padding: 2px; width: 135px;}

.hyperimage a:hover { background-color: transparent; }
.selectOverlap { position: absolute; z-index: -1; border: 0; margin: 0; padding: 0; top: 0; left: 0; overflow: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0); }

/*=========================================Start top task =======================================================*/

.top-tasks {
    position: absolute;
    top:0;
    right:0;
    height:36px;
    width:108px;
    }

.top-tasks.top-tasks-up {
    background: url('../images/common/top_tasks_up.png') top center no-repeat;
    }
    
.top-tasks.top-tasks-up:hover {
    background: url('../images/common/top_tasks_up.png') bottom center no-repeat;
    }
    
.top-tasks a {
    position: absolute;
    background: url('../images/common/top_tasks.png') top center no-repeat;
    top:0;
    right:0;
    height:36px;
    width:108px;
    text-indent: -9999em;
    }
.top-tasks a:hover {
    background: url('../images/common/top_tasks.png') bottom center no-repeat;
    }       

.top-tasks-dropdown {
    display:none;
    position: absolute;
    top:40px;
    background: url('../images/common/bg.jpg') repeat-x;
    width:870px;
    height:556px;
    padding:35px;
    right: -250px;
    border-bottom: 8px solid #01bbec;
    /* This enables hasLayout, which is required for older IE browsers */
    zoom:1; 
    /* filter: progid:DXImageTransform.Microsoft.Shadow(color='#666', Direction=0, Strength=3); */
        -moz-box-shadow:0 5px 5px rgba(0,0,0,0.5);
        -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.5);
        box-shadow:0 5px 5px rgba(0,0,0,0.5);   
        behavior: url(PIE.htc);
     z-index:300;
     margin-right:25px;
    }
    
.column1, .column2, .column3 {
    float: left;
    width: 250px;
    margin-right: 30px;
}
    
.top-tasks-dropdown .category {
    display: block;
    position: relative;
/*  float:left;*/
    margin:0 20px 0 20px;
    width:240px;
    min-height:376px;
    }

.ie7 .top-tasks-dropdown .category {
    min-height:396px;
    }
  
.top-tasks-dropdown .category ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}
  
.top-tasks-dropdown .category ul li {
    background: url('../images/common/top_tasks_dropdown_li_bg.png') left 3px no-repeat;
    padding-left:10px;
    margin-left: 0px;
    margin-top:2px;
    padding-bottom:3px;
    }

.top-tasks-dropdown .category ul li a {
    font: normal 12px/14px arial, sans-serif;
    color:#324674;
    text-decoration: none;
    }

.top-tasks-dropdown .category ul li a:hover {
    color:#01bbec;
    background-color: inherit;
    }
            
.top-tasks-dropdown h1 {
    display: block;
    height:34px;
    font: normal 22px/34px Georgia, serif;
    color:#3c3d3e;
    text-decoration: none;
    padding-bottom:3px;
    border-bottom: 3px solid #c9cacb;
    padding-left:40px;
    margin-top:20px;
    margin-bottom:18px;
    }

.top-tasks-dropdown h2 {
    font: bold 12px/12px Arial, sans-serif;
    letter-spacing: 1px;
    color:#5b5954;  
    text-transform: uppercase;
    }

.top-tasks-dropdown h2.second-level {
    margin-top: 30px;
    }
    
.top-tasks-dropdown .research-areas h1 {
    background: url('../images/common/top_tasks_dropdown_research_areas_bg.png') left top no-repeat;
    }

.top-tasks-dropdown .funding-awards h1 {
    background: url('../images/common/top_tasks_dropdown_funding_awards_bg.png') left top no-repeat;
    }

.top-tasks-dropdown .contact-us h1 {
    background: url('../images/common/top_tasks_dropdown_contact_us_bg.png') left top no-repeat;
    }
.learning-resources{
    clear: left;
}
.top-tasks-dropdown .learning-resources h1 {
    background: url('../images/common/top_tasks_dropdown_learning_resources_bg.png') left top no-repeat;
    }

.top-tasks-dropdown .news-discoveries h1 {
    background: url('../images/common/top_tasks_dropdown_news_discoveries_bg.png') left top no-repeat;
    }

.top-tasks-dropdown .address {
    height:303px;
    width:327px;
    margin-top: 23px;
    }

.ie7 .top-tasks-dropdown .address {
    height:296px;
    }
    
.top-tasks-dropdown .address span {
    font: normal 11px/21px arial, sans-serif;
    color:#3c3d3e;
    }

.ie7 .top-tasks-dropdown .address span {
    
    }
    
.top-tasks-dropdown .address strong {
    font-weight:bold;
    }
                    
.search {
    position: absolute;
    right: 0;
    top: 45px;
    background: none repeat scroll 0 0 white;
    width:170px;
    text-align:left;
    border:1px solid #cfcfcf;
    }
    
#QueryText1 {
    width:130px;
    height:22px;
    font: normal 10px/22px arial, sans-serif;
    color:#8c9090;
    padding-left:8px;
    background: transparent;
    border: none;
    outline:none;
    }
 
#site-search-submit {
    position: absolute;
    background-color:transparent;
    right:8px;
    top:6px;
    width:14px;
    height:12px;
    }

/*======NEW main nav =============*/
.header{
    display: block;
    position: relative;
    min-height:77px;
    z-index: 1;
    background-color: #fff;
}
.header ul{
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
}
.header fieldset{
    border: 0px;
    padding: 0px;
}
.main-nav{
    position: relative;
    height:45px;
    }
.mainsub-nav{
    width:739px;
    height:45px;
    margin-bottom:6px;
}
.main-nav ul.main {
    list-style: none;
    background: url('../images/common/main_nav_bg_int.gif') repeat-x;
    padding-left: 0px;
    margin-left:0;
    text-align:left;
    }
.mainsub-nav ul.main  {
    background: url('../images/common/submenubg.jpg') repeat-x;
    text-align: center;
}   
.main-nav ul.main>li  {
/*  background: url(../images/common/main_nav_seperator.gif) no-repeat right; */
    display: inline-block;
    zoom:1;
    position: relative;
    height:45px;
    *display:inline;    
    }
.mainsub-nav ul.main>li  {
/*  background: url(../images/common/main_nav_seperator.gif) no-repeat right; */
    display: inline-block;
    zoom:1;
    height:45px;
    *display:inline;    
    padding-right:10px;
    margin:18px 5px 0 5px;    
    }    
    .mainsub-nav ul .home {
        background:url('../images/common/bar.jpg') no-repeat 80px 15px;
    }
    .mainsub-nav ul .research-areas {
        background:url('../images/common/bar.jpg') no-repeat 150px 15px;
    }
    .mainsub-nav ul .funding {
            background:url('../images/common/bar.jpg') no-repeat 98px 15px;
    }
    .mainsub-nav ul .awards {
        background:url('../images/common/bar.jpg') no-repeat 94px 15px;
    }
    .mainsub-nav ul .discoveries {
        background:url('../images/common/bar.jpg') no-repeat 127px 15px;
    }
    .mainsub-nav ul .news {
        background:url('../images/common/bar.jpg') no-repeat 80px 15px;
    }
.main-nav ul.main>li>a {
    float:left;
    font: 11px Arial, sans-serif;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    height:18px;
    padding-right:10px;
    margin:18px 5px 0 5px;
    position: relative;
    letter-spacing: 1px;
    }
    .mainsub-nav ul.main>li>a {
        float:left;
        font: 12px Arial, sans-serif;
        color:#fff;
        text-transform: uppercase;
        text-decoration: none;
        height:30px;
        position: relative;
        letter-spacing: 1px;
        font-weight: bold;
        }

.mainsub-nav ul.main>li {
padding-right:10px;
    margin:18px 5px 0 5px;
}



.mainsub-nav ul.main > li > span{
    margin-top:;
}

.main-nav ul.main li a:hover,.main-navsub ul.main li a:hover {color:#01bced;}

.main-nav ul.main li.research-areas:hover, .main-nav ul.main li.funding:hover, .main-nav ul.main li.discoveries:hover, .main-nav ul.main li.awards:hover, .main-nav ul.main li.news:hover, .main-nav ul.main li.publications:hover, .main-nav ul.main li.statistics:hover, .main-nav ul.main li.about:hover {
        -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
        -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
        box-shadow:5px 5px 5px rgba(0,0,0,0.5); 
        behavior: url(PIE.htc); 
    }
    
.mainsub-nav ul.main>li>a:hover{
color: #fff;  
background: url('../images/common/subnav_a_bg.jpg') repeat-x 0px 20px; 
}

.mainsub-nav ul.main>li .current{
color: #fff;  
background: url('../images/common/subnav_a_bg.jpg') repeat-x 0px 20px; 
}

.main-nav ul.main li.research-areas a.research-areas-a {
    width:128px; 
    }

.main-nav ul.main li.funding a.funding-a {
    width:68px; 
    }
    
.main-nav ul.main li.awards a.awards-a {
    width:70px; 
    }
    
.main-nav ul.main li.awards  .sub ul {
width: 285px;
}

.main-nav ul.main li.discoveries a.discoveries-a {
    width:78px;
    }
    
.main-nav ul.main li.news a.news-a {
    width:52px; 
    }

.main-nav ul.main li.publications a.publications-a {
    width:145px;
    padding:0;  
    }

.main-nav ul.main li.statistics a.statistics-a {
    width:76px; 
    padding:0;
    }

.main-nav ul.main li.about a.about-a {
    width:78px; 
    padding:0;
    }
                
.main-nav ul.main li.research-areas:hover a.research-areas-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none;
    height:34px;
    width:128px;
    z-index: 800;   
    }

.main-nav ul.main li.funding:hover a.funding-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none;
    height:34px;
    width:68px;
    z-index: 800;   
    }

.main-nav ul.main li.awards:hover a.awards-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none;
    height:34px;
    width:70px; 
    z-index: 800;
    }
    
.main-nav ul.main li.discoveries:hover a.discoveries-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none;
    height:34px;
    width:78px; 
    z-index: 800;
    }

.main-nav ul.main li.news:hover a.news-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none;
    height:34px;
    width:52px;
    z-index: 800;
    }

.main-nav ul.main li.publications:hover a.publications-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none; 
    height:34px;
    width:135px; 
    z-index: 800;
    }

.main-nav ul.main li.statistics:hover a.statistics-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none; 
    height:34px;
    width:66px; 
    z-index: 800;
    }

.main-nav ul.main li.about:hover a.about-a {
    color:#fff;
    margin:0 0 0 -7px;
    padding:11px 8px 0 5px;
    background: #01BCED;
    border:7px solid #fff;
    border-bottom:none; 
    height:34px;
    width:78px; 
    z-index: 800;
    }
            
.main-nav ul.main li.research-areas:hover .sub, .main-nav ul.main li.funding:hover .sub, .main-nav ul.main li.awards:hover .sub, .main-nav ul.main li.discoveries:hover .sub, .main-nav ul.main li.news:hover .sub, .main-nav ul.main li.publications:hover .sub, .main-nav ul.main li.statistics:hover .sub, .main-nav ul.main li.about:hover .sub {
    left:-7px;
    }
.main-nav ul.main li.about:hover .sub { left: auto; right:0; }

.main-nav ul.main li.news:hover .sub { left: auto; right:0; }

.main-nav ul.main li.home {background: none;}

.main-nav ul.main li.home a {
    background: url('../images/common/main_nav_home_int.gif') no-repeat;
    text-indent: -999em;
    margin:0;
    width:29px;
    height:45px;
    }
.main-nav ul.main li.small {background: none;}

.main-nav ul.main li.small a {
    float:left;
    text-transform: uppercase;
    text-decoration: none;
    height:18px;    
    }

.main-nav ul.main li.small a:hover {
    color:#fff;
    }
    
.main-nav ul.main li.fastlane {
    background: none;
    position: absolute;
    right: 0px;
    top:-10px;
   }

.main-nav ul.main li.fastlane a {
    background: #323c54;
    text-align: center;
    font: normal 11px/24px Arial, sans-serif;
    letter-spacing: 1px;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    padding:5px 8px 7px 8px;
    }
        
.main-nav ul.main li.fastlane a:hover {
    color:#e98412;
    }       

.main-nav ul.main li ul {
    display: block;
    }

.main-nav ul.main li .sub {
    position: absolute; /*--Important--*/
    top: 45px; 
	left: -9999px;
    z-index: 300;
    padding: 10px 20px 20px;
    float: left;
    border:7px solid #fff;
    background: #01bced;
    display: block; /*--Hidden for those with js turned off--*/
        -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
        -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
        box-shadow:5px 5px 5px rgba(0,0,0,0.5);         
        background: -moz-linear-gradient(top, #01bced 0%, #036796 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01bced), color-stop(100%,#036796)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #01bced 0%,#036796 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #01bced 0%,#036796 100%); /* Opera11.10+ */ 
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#01bced', EndColorStr='#036796'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#01bced', EndColorStr='#036796')"; /* IE8 */     
        behavior: url(PIE.htc); 
    }

.main-nav ul.main li .sub-small {
    position: absolute; /*--Important--*/
    top: 53px; 
	left: -9999px;
    z-index: 300;
    padding: 10px 20px 20px;
    float: left;
    border:7px solid #fff;
    background: #01bced;
    display: block; /*--Hidden for those with js turned off--*/ 
        -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
        -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.5);
        box-shadow:5px 5px 5px rgba(0,0,0,0.5);     
        background: -moz-linear-gradient(top, #01bced 0%, #036796 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01bced), color-stop(100%,#036796)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #01bced 0%,#036796 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #01bced 0%,#036796 100%); /* Opera11.10+ */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#01bced', EndColorStr='#036796'); /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#01bced', EndColorStr='#036796')"; /* IE8 */
        behavior: url(PIE.htc);         
    }

/*Research Areas Nav*/
.main-nav ul.main li.research-areas .sub {
    width:555px;   
 }
 .main-nav ul.main li.research-areas .sub a{
	 padding:0;
	 margin: 0;
	 text-indent: 0;
 }
.main-nav ul.main li.research-areas .sub .main-links {
	width: 335px;
	border-right: 1px solid #FFFFFF;
}
 .main-nav ul.main li.research-areas .sub .relate-links {
	 padding: 0 0 0 15px;
	 width: 200px; 
 }
/*Funding Nav*/
.main-nav ul.main li.funding .sub {
    width:535px;    
}
.main-nav ul.main li.funding .sub a {
	 padding:0;
	 margin: 0;
	 text-indent: 0;
}
.main-nav ul.main li.funding .sub .main-links {
	width: 215px;
}
.main-nav ul.main li.funding .sub .relate-links {
	 padding: 0 0 0 15px;
	 width: 300px;
	 border-left: 1px solid #FFFFFF;
 }
 /*Award Nav*/
.main-nav ul.main li.awards .sub {
    width:520px;    
 }
.main-nav ul.main li.awards .sub a {
	padding:0;
	margin: 0;
	text-indent: 0;
}
 .main-nav ul.main li.awards .sub .main-links {
	width: 300px;
	border-right: 1px solid #FFFFFF;
}
 .main-nav ul.main li.awards .sub .relate-links {
	 padding: 0 0 0 15px;
	 width: 200px; 
 }
 /*Document nav */
 .main-nav ul.main li.publications .sub {
    width:250px;    
 }
 .main-nav ul.main li.publications .sub a {
 	padding:0;
	margin: 0;
	text-indent: 0;
 }
 /*News nav*/
 .main-nav ul.main li.news .sub {
    width: 395px;   
}
.main-nav ul.main li.news .sub a {
	padding:0;
	margin: 0;
	text-indent: 0;
}
.main-nav ul.main li.news .main-links {
	width: 200px;
	border-right: 1px solid #FFFFFF;
}
.main-nav ul.main li.news .relate-links {
	 padding: 0 0 0 15px;
	 width: 175px; 
 }
 /*About nav*/
 .main-nav ul.main li.about .sub {
    width:500px;    
 }
 .main-nav ul.main li.about .sub a {
 	padding:0;
	margin: 0;
	text-indent: 0;
}

.main-nav ul.main li.about .main-links {
	width: 230px;
	border-right: 1px solid #FFFFFF;
}
.main-nav ul.main li.about .relate-links {
	 padding: 0 0 0 15px;
	 width: 250px; 
 }
 
 
.main-nav ul.main li.discoveries .sub {
    width: 374px;   
    }
.main-nav ul.main li.statistics .sub {
    width:128px;    
    }                   
.main-nav ul.main li .sub ul{
    list-style: none;
    margin: 17px 0 0 0;
    float: left;
}
    
.main-nav ul.main li .sub ul.first-column {
    width: 210px;
}

.main-nav ul.main li .sub ul.second-column {
    width: 140px;
}
    
.main-nav ul.main li .sub ul:first-child {
    padding: 0  ;
    }   

.main-nav ul.main li .sub-small ul{
    list-style: none;
    margin: 17px 0 0 0;
    width: 270px;
    float: left;
    }
    
.main-nav ul.main li .sub-small ul:first-child {
    padding: 0  ;
    }
        
.main-nav ul.main ul li {
    width: 100%; /*--Override parent list item--*/
    color: #fff;
    padding:0 0 10px 0;
	text-indent: 0;
	margin: 0;
    }
.main-nav ul.main .sub ul li a, .main-nav ul.main .sub-small ul li a {
    float: none;
    /*text-indent: 0;*/ /*--Override text-indent from parent list item--*/
    display: inline;
    text-decoration: none;
    color: #fff;
    font: 12px/18px Arial, sans-serif;
    padding-left:15px;
    letter-spacing: normal;
    margin:0;
    text-transform: none;
    font-weight: bold; 
    }

    
/* .main-nav ul.main li.small .sub li a:hover */ 
.main-nav ul.main .sub ul li a:hover, .main-nav ul.main .sub-small ul li a:hover {
    color: #fff; 
    text-decoration: underline;
    background-color:transparent; 
    }  
	
.main-nav ul.main .sub .dropdown-header {
	font: 13px Arial, sans-serif;
	margin: 0 0 5px 0;
	text-transform: uppercase;
	text-indent: 0;
	padding: 0;
}


/* ===================End new main nav============================ */
